/* 
    @package aspataltheme
*/

/* 
	Import
	------------------------------------------------
*/

@import 'base/variables';       // Variables

// Generic
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: none;
    color: $dark;
    &:hover,
    &:focus {
        color: $brand-color;
    }
}

::-moz-selection {
    color: white;
    background: $brand-color;
}
  
::selection {
    color: white;
    background: $brand-color;
}

// Header
header {
    .aspatal-top-header {
        .aspatal-address,
        .aspatal-email {
            display: inline-block;
            line-height: 2em;
            margin-right: 25px;
            font-size: 15px;
        }
        .aspatal-email {
            a {
                &:hover {
                    color: $dark;
                }
            }
        }
        .cta-button {
            button {
                color: $brand-color;
                border-color: $brand-color;
                &:hover,
                &:focus {
                    background-color: $brand-color;
                    color: white;
                }
            }
        }
    }

    .aspatal-main-header {
        height: 85px;
        .branding {
            img {
                width: 55px;
                height: auto;
            }
        }

        .nav-menu {
            list-style: none;
            li {
                display: inline-block;
                line-height: 55px;
                margin: 0 14px;
                font-size: 18px;
            }
        }
    }
}

// Home Page Hero Slider
.aspatal-hero-slider {
    .carousel-inner {
        .carousel-item {
            .carousel-overlay {
                position: absolute;
                top: 0;
                left: 0;
                background: rgb(16,33,125);
                background: linear-gradient(126deg, rgba(16,33,125,1) 0%, rgba(252,191,41,0) 100%);
                width: 100%;
                height: 100%;
            }
            .carousel-caption {
                top: 15%;
                left: 10%;
                h5 {
                    font-size: 65px;
                    text-transform: capitalize;
                    font-weight: normal;
                }
                p {
                    font-weight: 200;
                    font-size: 20px;
                }
                button {
                    margin-top: 12%;
                    background-color: white;
                    border-color: white;
                }
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }
}

// Home Page Business Hour Section
.aspatal-business-hour {
    .left-col {
        h2 {
            font-size: 45px;
            font-weight: normal;
            color: $brand-color;
        }
    }
    .right-col {
        h4 {
            font-weight: normal;
            font-size: 28px;
            color: $brand-color;
        }
        table {
            background-color: #d5dbff;
            width: 80%;
            tr {
                border-bottom: 1px solid $light-grey;
                td {
                    padding: 8px 20px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        button {
            width: 80%;
            text-transform: uppercase;
            font-size: 1.2em;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 30px;
            background-color: $brand-color;
            border-color: $brand-color;
        }
    }
}

// Home Page Departments List
.aspatal-departments {
    background-color: $light-grey;
    .section-header {
        padding-bottom: 15px;
        .col-right {
            position: relative;
            button {
                background-color: $brand-color;
                border-color: $brand-color;
                position: absolute;
                right: 5%;
                bottom: 20%;
                padding-top: 10px;
                padding-bottom: 10px;
                a {
                    color: white;
                }
            }
        }
    }
}

// Home Page Services Section
.aspatal-services {
    --bs-gutter-x: 0;
    .col-right {
        color: $brand-color;
        .section-title {
            font-size: 50px;
        }
        .services {
            img {
                width: 65%;
                margin: 30px 0;
            }
        }
    }
}

// Home Page Doctors List
.aspatal-doctors {
    .ratio {
        --bs-aspect-ratio: 125%;
    }
    background-color: $light-grey;
    .section-header {
        padding-bottom: 15px;
        .col-right {
            position: relative;
            button {
                background-color: $brand-color;
                border-color: $brand-color;
                position: absolute;
                right: 5%;
                bottom: 20%;
                padding-top: 10px;
                padding-bottom: 10px;
                a {
                    color: white;
                }
            }
        }
    }
}

// Footer
.aspatal-footer {
    .main-footer {
        padding-bottom: 35px;
        .widget,
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .widget {
            padding: 35px;
            .widget-title {
                font-weight: normal;
            }
            ul {
                li {
                    padding: 6px 0;
                    border-bottom: 1px dotted #c5c5c5;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .footer-one {
            img {
                width: 100px;
            }
            .caption {
                padding-top: 1em;
                padding-right: 5em;
            }
            .contact-info {
                line-height: 0.5em;
                padding: 15px 0;
            }
            .social-links {
                i {
                    background-color: #eff1ff;
                    padding: 3px 6px 1px;
                    font-size: 18px;
                    margin: 0 2px;
                    border-radius: 3px;
                }
            }
        }
    }

    .bottom-footer {
        padding: 15px 0;
        border-top: 1px solid #dfdfdf;
        .copyright {
            p {
                margin: 0;
            }
        }
        .footer-menu {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    padding: 0 10px;
                    border-left: 1px solid #dfdfdf;
                    &:first-child {
                        border-left: none;
                    }
                }
            }
        }
    }
}















