/* 
    @package aspataltheme
*/

/* 
	Import
	------------------------------------------------
*/

@import 'base/variables';       // Variables

// Generic
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: none;
    color: $dark-grey;
}

// Header
header {
    display: block;
}
