/* 
    @package hotaltheme
*/

/* 
	Variables
	------------------------------------------------
*/

$brand-font : 'Heebo', sans-serif;

$light-grey : #d1d1d1;
$dark-grey : #2a2a2a;
$brand-color : #10217d;