/* 
    @package hotaltheme
*/

/* 
	Variables
	------------------------------------------------
*/

$brand-font : 'Heebo', sans-serif;

$light-grey : #eff1ff;
$dark : #2a2a2a;
$brand-color : #10217d;